<header class="header-form header-fix">
    <ng-include src="'onboarding/header.html'" />
</header>
<main class="mt-5 pt-2">
    <div class="container-fluid">
        <div class="row justify-content-center mt-4">
            <div class="col-3">
                <div class="progress-step active"></div>
            </div>
            <div class="col-3">
                <div class="progress-step active"></div>
            </div>
            <div class="col-3">
                <div class="progress-step active" aria-label="paso 3 de 3"></div>
            </div>
        </div>
        <form class="group-name">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h2 class="text-center mt-5">¿Querés ponerle un nombre a tu grupo?</h2>
                    <div class="mt-5">
                        <md-input-container class="md-block md-input-custom" flex-gt-sm>
                            <label for="group">Nombre del grupo</label>
                            <input id="group" type="text" placeholder="Amigos" ng-model="groupName">
                        </md-input-container>
                    </div>
                    <md-button class="md-primary btn-custom-primary btn-sticky btn-block pt-2 pb-2 m-0" ng-click="step3Next()"ng-disabled="!groupName" || groupName = ''>
                        Terminar
                    </md-button>
                </div>
            </div>
        </form>
    </div>
</main>