<header class="header-form header-fix">
    <ng-include src="'onboarding/header.html'" />
</header>
<main class="mt-5 pt-2">
    <div class="container-fluid">
        <div class="row justify-content-center mt-4">
            <div class="col-3">
                <div class="progress-step active"><span class="sr-only">paso 1 de 3</span></div>
            </div>
            <div class="col-3">
                <div class="progress-step"></div>
            </div>
            <div class="col-3">
                <div class="progress-step"></div>
            </div>
        </div>
        
        <form class="date-time">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h2 class="text-center mt-5">¿Qué momento del día  prefieren para ir al cine?</h2>
                    <div class="date-time-checks mt-5">
                        <fieldset>
                            <ul class="date-time-checks">
                                <li class="day">
                                    <input type="checkbox" id="checkboxOne" value="Day" ng-model="moment.day">
                                    <label for="checkboxOne" aria-label="De día. 12:00 a 16:00hs">
                                        <span class="display-day">
                                           <b>De Día</b> 12:00 a 16:00
                                        </span>
                                    </label>
                                </li>
                                <li class="set">
                                    <input type="checkbox" id="checkboxTwo" value="Set" ng-model="moment.afternoon">
                                    <label for="checkboxTwo" aria-label="De tarde. 16:00 a 20:00hs">
                                        <span class="display-day">
                                            <b>De Tarde</b>16:00 a 20:00
                                        </span>
                                    </label>
                                </li>
                                <li class="night">
                                    <input type="checkbox" id="checkboxThree" value="Night" ng-model="moment.night">
                                    <label for="checkboxThree" aria-label="De noche. 20:00 a 00:00hs">
                                        <span class="display-day">
                                            <b>De Noche</b>20:00 a 00:00
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                </div>
            </div>
    
            <md-button class="md-primary btn-custom-primary btn-sticky btn-block pt-2 pb-2 m-0" ng-click="step1Next()" ng-disabled="!moment.day && !moment.afternoon && !moment.night">
                Continuar
            </md-button>
        </form>
    </div>
</main>
