<header class="header-form header-fix">
    <ng-include src="'onboarding/header.html'" />
</header>
<main class="mt-5 pt-2">
    <div class="container-fluid">
        <div class="row justify-content-center mt-4">
            <div class="col-3">
                <div class="progress-step active"></div>
            </div>
            <div class="col-3">
                <div class="progress-step active" aria-label="paso 2 de 3"></div>
            </div>
            <div class="col-3">
                <div class="progress-step"></div>
            </div>
        </div>
        <form class="places">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h2 class="text-center mt-5">¿Por dónde van al cine?</h2>
                    <p class="text-center">Elegí tu ciudad y los barrios</p>
                    <div class="mt-5">
                        <md-input-container class="md-block md-input-custom mb-5" flex-gt-sm>
                            <label>Ciudad</label>
                            <md-select ng-model="user.city">
                                <md-option ng-repeat="city in cities" ng-value="city">
                                    {{city}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block md-input-custom" ng-controller="searchTown">
                            <label>Barrios</label>
                            <md-select ng-model="user.town"
                                       md-on-close="clearSearchTerm()"
                                       data-md-container-class="selectdemoSelectHeader"
                                       multiple="">
                                <md-select-header class="demo-select-header">
                                    <input ng-model="searchTerm"
                                           type="search"
                                           placeholder="Buscá tu barrio..."
                                           class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup label="Barrios">
                                    <md-option ng-repeat="town in towns | filter:searchTerm" ng-value="town">
                                        {{town}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
    
                        <md-chips class="movie-theme" ng-model="user.town" readonly="true" md-removable="true">
                        </md-chips>
                    </div>
                    <md-button class="md-primary btn-custom-primary btn-sticky btn-block pt-2 pb-2 m-0" ng-click="step2Next()"
                               ng-disabled="!user.city || !user.town">
                        Continuar
                    </md-button>
                </div>
            </div>
        </form>
    </div>
</main>