@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body, html {
    font-family: 'Lato', sans-serif !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background-color: #FFFFFF;
    color: #4A4A4A;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700 !important;
}
section {
    padding: 20px 0;
}
a {
    color: #5856D6 !important;
}

/* COLOR */
.violet {
    color: #5856D6;
}
.light-violet {
    color: #ABAAEA;
}
.green {
    color: #3BC7B1;
}
.light-green {
    color: #9DE3D8;
}
.red{
    color: #DF0025;
}
.font-700 {
    font-weight: 700 !important;
}

/* BUTTONS */
.btn-sticky {
    position: fixed !important;
    bottom: 0;
    z-index: 15;
    left: 0;
    right: 0;
    border-radius: 0 !important;
}
.btn-custom-primary {
    color: #FFFFFF !important;
    background: #3BC7B1 !important;
    font-weight: 700 !important;
}

/* LOGIN */
.subtitle {
    font-size: 20px;
    font-weight: 700;
}

/* NAVEGACION */
.app-navbar .navbar-nav {
    display: contents;
}
.app-navbar {
    width: 100%;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    top: unset;
    padding: 0 15px;
    position: fixed !important;
}
.progress-step {
    height: 5px;
    background: #eaeaea;
    width: 100%;
}
.details {
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 0 15px;
    background: #FFFFFF;
    z-index: 12;
}


/* ASIENTOS */
.screen{
    color: #878787;
    text-align: center
}
.seatContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 1em;
}
.seatStructure{
    width: 320px;
}
.seatContainer input[type=checkbox] {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 3px;
}
.seatContainer ol{
    list-style: none;
    padding: 0;
}
.seatContainer ol li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seatContainer input[type=checkbox]:before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    /*box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/
    background-color:white;
    border-radius: 3px;
    border: 2px solid black;
}
.seatContainer input[type=checkbox]:checked:before {
    background-color:#5856D6;
    font-size: 15px;
    border: 2px solid #5856D6;
}
.seatContainer input[type=checkbox]:disabled:before {
    background-color:white;
    background-image: url("../images/disabled.svg");
    border: 1px solid #878787;
    font-size: 15px;
}


/* MATERIAL */
md-input-container.md-input-custom:not(.md-input-invalid).md-input-focused .md-input,
md-select:not([disabled]):focus .md-select-value {
    border-color: #3BC7B1;
}
