@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body, html {
    font-family: 'Lato', sans-serif !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background-color: #FFFFFF;
    color: #4A4A4A;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700 !important;
}
section {
    padding: 20px 0;
}
a {
    color: #5856D6 !important;
}
.display-flex{
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/* COLOR */
.violet {
    color: #5856D6;
}
.light-violet {
    color: #ABAAEA;
}
.green {
    color: #3BC7B1;
}
.light-green {
    color: #9DE3D8;
}
.red{
    color: #DF0025;
}
.font-700 {
    font-weight: 700 !important;
}

/* BUTTONS */
.btn-sticky {
    position: fixed !important;
    bottom: 0;
    z-index: 15;
    left: 0;
    right: 0;
    border-radius: 0 !important;
}
.btn-custom-primary {
    color: #FFFFFF !important;
    background: #3BC7B1 !important;
    font-weight: 700 !important;
}
.btn-custom-primary:disabled {
    background: #9DE3D8!important;
}
.btn-icon {
    padding: 0 !important;
}

/* LOGIN */
.subtitle {
    font-size: 20px;
    font-weight: 700;
}

/* ONBOARDING */
.header-form {
    background: #EFEFF4;
    padding: 15px 0 10px;
    text-align: center;
    box-shadow: 0 2px 4px #E5E5EA;
}
.header-form h1 {
    font-size: 22px;
}
.progress-step {
    height: 7px;
    background: #eaeaea;
    width: 100%;
}
.progress-step.active {
    background: #3BC7B1;
}
.date-time h2, .places h2, .group-name h2 {
    font-size: 20px;
}
ul.date-time-checks, ul.date-radio, ul.movies-radio {
    list-style: none;
    padding: 0;
}
ul.date-time-checks li, ul.date-radio li, ul.movies-radio li {
    display: inline;
}
ul.date-time-checks li label, ul.date-radio li label, ul.movies-radio li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(229, 229, 234, .9);
    color: #000000;
    border-radius: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
ul.date-time-checks li label {
    padding: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
ul.date-time-checks li label::before, ul.date-radio li label::before, ul.movies-radio li label::before {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    transition: transform .3s ease-in-out;
    height: 50px;
    width: 50px;
}
ul.date-time-checks li.day label::before {
    content: url("../images/day.svg");
}
ul.date-time-checks li.set label::before {
    content: url("../images/set.svg");
}
ul.date-time-checks li.night label::before {
    content: url("../images/night.svg");
}
ul.date-time-checks li.day input[type="checkbox"]:checked + label::before {
    content: url("../images/day-select.svg");
}
ul.date-time-checks li.set input[type="checkbox"]:checked + label::before {
    content: url("../images/set-select.svg");
}
ul.date-time-checks li.night input[type="checkbox"]:checked + label::before {
    content: url("../images/nigth-select.svg");
}
ul.date-time-checks li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transition: transform .3s ease-in-out;
}
ul.date-time-checks li input[type="checkbox"]:checked + label,
ul.date-radio li input[type="radio"]:checked + label,
ul.date-radio li input[type="checkbox"]:checked + label,
ul.movies-radio li input[type="radio"]:checked + label{
    border: 2px solid #5856D6;
    background-color: #5856D6;
    color: #fff;
    transition: all .2s;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
ul.date-time-checks li label span,
ul.date-time-checks li input[type="checkbox"]:checked + label span {
    padding-left: 15px;
    display: inline-block;
}
ul.date-time-checks li input[type="checkbox"],
ul.date-radio li input[type="radio"],
ul.date-radio li input[type="checkbox"],
ul.movies-radio li input[type="radio"]{
    display: absolute;
}
ul.date-time-checks li input[type="checkbox"],
ul.date-radio li input[type="radio"],
ul.date-radio li input[type="checkbox"],
ul.movies-radio li input[type="radio"] {
    position: absolute;
    opacity: 0;
}
ul.date-time-checks li input[type="checkbox"]:focus + label,
ul.date-radio li input[type="radio"]:focus + label,
ul.date-radio li input[type="checkbox"]:focus + label,
ul.movies-radio li input[type="radio"]:focus + label {
    border: 2px solid #e9a1ff;
}


/* MOVIES */
section.movies h2 {
    font-size: 18px;
}
section.movies h3 {
    font-size: 16px;
}
.date-container {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    overflow-x: auto;
}
ul.date-radio li label, ul.movies-radio li label  {
    width: 30% !important;
}
ul.date-radio li label, ul.movies-radio li label  {
    padding: 10px 15px;
    cursor: pointer;
    display: inline-flex;
    height: 60px;
    justify-content: center;
    text-align: center;
    margin: 10px 20px 0 0;
}
ul.date-radio li label span,
ul.date-radio li input[type="radio"]:checked + label span,
ul.date-radio li label span,
ul.date-radio li input[type="checkbox"]:checked + label span,
ul.movies-radio li label span,
ul.movies-radio li input[type="radio"]:checked + label span{
    padding-left: 0;
    display: block;
    white-space: initial;
    line-height: 17px;
}
.label-grey {
    font-size: 12px;
}
.movies-radio {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    overflow-x: auto;
}
ul.date-radio li label {
    width: 30%;
}
.movie-elipsis {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
ul.movies-radio li label span {
    font-size: 14px;
    overflow: hidden;
}
ul.movies-radio li label {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 210px;
    padding: 160px 15px 10px;
    text-align: left;
}
ul.movies-radio li.movie1 label {
    background-image: url("../images/movies/img_malefica.jpeg");
}
ul.movies-radio li.movie2 label {
    background-image: url("../images/movies/img_joker.jpeg");
}
ul.movies-radio li.movie3 label {
    background-image: url("../images/movies/img_terminator.jpeg");
}
ul.movies-radio li.movie4 label {
    background-image: url("../images/movies/img_gemini.jpeg");
}
ul.movies-radio li.movie5 label {
    background-image: url("../images/movies/img_call.jpeg");
}
ul.movies-radio li label span,
ul.movies-radio li input[type="radio"]:checked + label span{
    display: inline-block;
}
ul.date-radio li input[type="checkbox"] + label {
    padding: 10px!important;
}
.details {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    padding: 0 15px;
    background: #FFFFFF;
    z-index: 12;
    box-shadow: 0 -2px 4px #E5E5EA;
}
.details h4 {
    font-size: 18px;
    padding-top: 3px;
}
.detail-header{
    padding: 10px 0;
}
.detail-header .circle, .circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 3px 5px;
    color: #ffffff;
    background: #5856D6;
    border-radius: 100%;
    font-weight: 700;
}
.detail-content {
    border-top: 2px solid #e5e5e5;
    padding: 15px 0;
}
.detail-content img {
    border-radius: 5px;
}
.detail-content p {
    margin-bottom: 0;
    font-size: 16px;
}
.detail-content p.movie {
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
}


/* NAVEGACION */
.app-navbar .navbar-nav {
    display: contents;
}
.app-navbar {
    width: 100%;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    top: unset;
    padding: 0 15px;
    position: fixed !important;
}



/* STEP 2 CIUDADES/BARRIOS */
.selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
.selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
.selectdemoSelectHeader md-content._md {
    max-height: 240px; }

md-chips.movie-theme md-chip{
    background-color: #5856D6;
    color: white;
}
md-chips.movie-theme md-chip md-icon{
    color: white;
}
md-chips.movie-theme .md-chips{
    box-shadow: none;
}

/* SECCIÓN EXPANDIBLE */
.btn-expand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;
    background-color: white;
    border: none;
}
.btn-shadow{
    box-shadow: -1px 0px 14px 4px #d4d4d4;
}
.icon-img{
    margin: 15px 10px;
}
md-bottom-sheet.bottom-sheet-int{
    padding: 0 0 78px 0!important;
}

/* ASIENTOS */
.screen{
    color: #878787;
    text-align: center
}
ul.seat-status{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 0.8rem;
}
ul.seat-status li{
    margin-right: 15px;
}
.available-seat{
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color:white;
    border-radius: 3px;
    border: 2px solid black;
    margin-right: 5px;
}
.unavailable-seat{
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 3px;
    background-color:white;
    background-image: url("../images/disabled.svg");
    border: 1px solid #878787;
    margin-right: 5px;
}
.seatContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 1em;
}
.seatStructure{
    width: 320px;
}
.seatContainer input[type=checkbox] {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 3px;
}
.seatContainer ol{
    list-style: none;
    padding: 0;
}
.seatContainer ol.seat-line{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.seatContainer ol li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seatContainer input[type=checkbox]:before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    /*box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/
    background-color:white;
    border-radius: 3px;
    border: 2px solid black;
}
.seatContainer input[type=checkbox]:checked:before {
    background-color:#5856D6;
    font-size: 15px;
    border: 2px solid #5856D6;
}
.seatContainer input[type=checkbox]:disabled:before {
    background-color:white;
    background-image: url("../images/disabled.svg");
    border: 1px solid #878787;
    font-size: 15px;
}
.bubble{
    background-color: #5856D6;
    color: #FFFFFF;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    margin-right: 10px;
}


/* MATERIAL */
md-input-container.md-input-custom:not(.md-input-invalid).md-input-focused .md-input,
md-select:not([disabled]):focus .md-select-value {
    border-color: #3BC7B1;
}
