<header class="header-form">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-2">
                <button class="btn btn-icon" ng-click="goback()">
                    <img src="assets/images/angle-left.svg" style="width: 100%;" alt="atrás">
                </button>
            </div>
            <div class="col-8"><h1 class="m-0">Crear votación</h1></div>
            <div class="col-2">
                <button class="btn btn-icon">
                    <img src="assets/images/close.svg" style="width: 100%;" alt="cerrar">
                </button>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid">
        <form>
            <section>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <h2 class="text-center">¿A qué grupo quieres enviar la nueva votación?</h2>
                    </div>
                </div>
                <div class="mt-4 group-option">
                    <md-radio-group ng-model="data.group1">
                        <md-radio-button value="Amigos" class="md-primary">Amigos (3 contactos)</md-radio-button>
                        <md-radio-button value="Familia"> Familia (8 contactos)</md-radio-button>
                        <md-radio-button value="Bafici">Bafici (5 contactos)</md-radio-button>
                    </md-radio-group>
                </div>
            </section>
            <div class="btn-sticky">
                <div class="text-center" style="background-color: white;">
                    <md-button class="md-primary font-700 violet">
                        Crear grupo nuevo
                    </md-button>
                </div>
        
                <md-button class="md-primary btn-custom-primary btn-block pt-2 pb-2 m-0" ng-click="stepSnacksNext()" ng-disabled="!moment.day && !moment.afternoon && !moment.night">
                    Continuar
                </md-button>
            </div>
        </form>
    </div>
</main>