<header class="header-form header-fix">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-2">
                <button class="btn btn-icon" ng-click="goback()">
                    <img src="assets/images/angle-left.svg" style="width: 100%;" alt="atrás">
                </button>
            </div>
            <div class="col-8"><h1 class="m-0">Compartir</h1></div>
            <div class="col-2">
                <button class="btn btn-icon">
                    <img src="assets/images/close.svg" style="width: 100%;" alt="cerrar">
                </button>
            </div>
        </div>
    </div>
</header>
<main class="mt-5 pt-2">
    <div class="container-fluid">
        <section class="mt-3 share">
            <h2 class="text-center">¡Llegó el momento de votar!</h2>
            <p class="text-center mb-4">Éstas son tus funciones seleccionadas</p>
        
            <div class="detail-content share">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img src="assets/images/movies/img_joker.jpeg" alt="" width="100%">
                    </div>
                    <div class="col-7">
                        <p class="movie">The Joker</p>
                        <p>21 Nov 22:00 - 2D SUB</p>
                        <p>Showcase Belgrano</p>
                    </div>
                    <div class="col-2">
                        <div>
                            <button type="button" class="btn btn-icon">
                                <img src="assets/images/delet.svg" style="width: 100%;" alt="eliminar">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-content share">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img src="assets/images/movies/img_joker.jpeg" alt="" width="100%">
                    </div>
                    <div class="col-7">
                        <p class="movie">The Joker</p>
                        <p>21 Nov 22:00 - 2D SUB</p>
                        <p>Showcase Belgrano</p>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-icon">
                            <img src="assets/images/delet.svg" style="width: 100%;" alt="eliminar">
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <form>
            <h3 class="mt-4">¿Cuánto va a durar la votación?</h3>
            <div class="time-checks">
                <fieldset>
                    <ul class="time-checks">
                        <li class="day">
                            <input type="radio" id="hour1" value="1hour" name="optradio" ng-model="timeValue">
                            <label for="hour1">
                                <span>1 hora</span>
                            </label>
                        </li>
                        <li class="set">
                            <input type="radio" id="hour2" value="6hour" name="optradio" ng-model="timeValue">
                            <label for="hour2">
                                <span>6 horas</span>
                            </label>
                        </li>
                        <li class="night">
                            <input type="radio" id="hour3" value="12hour" name="optradio" ng-model="timeValue">
                            <label for="hour3">
                                <span>12 horas</span>
                            </label>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </form>
        <md-button class="md-primary btn-custom-primary btn-sticky btn-block pt-2 pb-2 m-0" ng-disabled="!timeValue || timeValue === ''" ng-click="stepShareNext()">
            Continuar
        </md-button>
    </div>
</main>