<header class="header-form header-fix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <button class="btn btn-icon" ng-click="goback()">
                    <img src="assets/images/angle-left.svg" style="width: 100%;" alt="atrás">
                </button>
            </div>
            <div class="col-8"><h1>Resumen</h1></div>
            <div class="col-2">
                <button class="btn btn-icon" ng-click="stepTicketNext()">
                    <img src="assets/images/close.svg" style="width: 100%;" alt="cerrar">
                </button>
            </div>
        </div>
    </div>
</header>
<main class="mt-5 pt-2">
    <div class="container-fluid">
        <section class="resume">
            <div class="detail-content pt-0">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img src="assets/images/movies/img_joker.jpeg" alt="" width="100%">
                    </div>
                    <div class="col-9">
                        <p class="movie">The Joker</p>
                        <p>21 Nov 22:00 hs. - 2D SUB</p>
                        <p>Showcase Belgrano</p>
                    </div>
                </div>
            </div>
            <div class="ticket-content">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="mb-0">Entradas</h2>
                    </div>
                    <div class="col text-right">
                        <p class="m-0">
                            <span aria-hidden="true"><span class="discount">$1280.00</span> $640.00</span>
                            <span class="sr-only">Precio sin promoción: 1280.00 pesos. Precio con promoción: 640.00 pesos.</span>
                        </p>
                    </div>
                </div>
                <p class="m-0 resume"><span class="font-700">2</span> Promociones Santander 2x1</p>
                <p class="m-0 resume">Asientos: <span class="font-700">4C, 5C, 6C, 7C</span></p>
            </div>
            <div class="snacks-content">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="mb-0">Snacks</h2>
                    </div>
                    <div class="col text-right">
                        <p class="m-0"><span aria-hidden="true">$400.00</span><span class="sr-only">400,00 pesos</span></p>
                    </div>
                </div>
                <p class="m-0 resume"><span class="font-700">4</span> Gaseosas 500 ml.</p>
    
            </div>
            <div class="creditcard-content" style="margin-bottom: 50px">
                <h2 class="mb-0">Elegir medio de pago</h2>
                <span class="sr-only">Se listan las tarjetas por su banco y sus últimos cuatro dígitos únicamente por motivos de seguridad.</span>
                <md-radio-group ng-model="card">
                    <md-list class="pb-0">
                        <md-list-item class="noright">
                            <md-radio-button class="" value="visa" id="santander" ng-model="card.selectedVisa" required>
                                <label for="santander"><img alt="visa" src="assets/images/visa.svg" class="md-avatar"/> Santander ….5464</label>
                            </md-radio-button>
                        </md-list-item>
                    </md-list>
                    <md-list class="pb-0">
                        <md-list-item class="noright">
                            <md-radio-button class="" value="master" id="galicia" ng-model="card.selectedMaster" required>
                                <label for="galicia"><img alt="mastercard" src="assets/images/mastercard.svg" class="md-avatar"/> Galicia ….5464</label>
                            </md-radio-button>
                        </md-list-item>
                    </md-list>
                </md-radio-group>
                
                <div class="mt-3">
                    <md-button class="md-primary font-700 text-notransform m-0 new-card">
                        Agregar nueva tarjeta
                    </md-button>
                </div>
            </div>
        </section>
        <md-button class="md-primary btn-custom-primary btn-sticky btn-block pt-2 pb-2 m-0" type="submit" ng-disabled="!card"
                   ng-click="stepResumeNext()">
            Pagar $1040.00
        </md-button>
    </div>
</main>