<header class="header-form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <button class="btn btn-icon" ng-click="goback()">
                    <img src="assets/images/angle-left.svg" style="width: 100%;" alt="atrás">
                </button>
            </div>
            <div class="col-8"><h1>Resumen</h1></div>
            <div class="col-2">
                <button class="btn btn-icon">
                    <img src="assets/images/close.svg" style="width: 100%;" alt="cerrar">
                </button>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid">
        <section class="resume">
            <div class="detail-content pt-0">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img src="assets/images/movies/img_joker.jpeg" alt="The Joker" width="100%">
                    </div>
                    <div class="col-9">
                        <p class="movie">The Joker</p>
                        <p>21 Nov 22:00 - 2D SUB</p>
                        <p>Showcase Belgrano</p>
                    </div>
                </div>
            </div>
            <div class="ticket-content">
                <div class="row align-items-center">
                    <div class="col">
                        <h3>Entradas</h3>
                    </div>
                    <div class="col text-right">
                        <p class="m-0" aria-label="Precio sin descuento: 720 pesos. Precio con descuento: 340 pesos"><span>$1280.00</span> $640.00</p>
                    </div>
                </div>
                <p class="m-0 resume"><span class="font-700">2</span> Promociones BBVA 2x1</p>
                <p class="m-0 resume">Asientos: <span class="font-700">{{seats}}</span></p>
            </div>
            <div class="snacks-content">
                <div class="row align-items-center">
                    <div class="col">
                        <h3>Snacks</h3>
                    </div>
                    <div class="col text-right">
                        <p class="m-0"> $340.00</p>
                    </div>
                </div>
                <p class="m-0 resume"><span class="font-700">4</span> Gaseosas 500 ml.</p>
    
            </div>
            <div class="total">
                <p class="total-text"><span><b>Total a pagar</b></span> <span class="violet"><b>$760.00</span></b></p>
            </div>
            <div class="creditcard-content" style="margin-bottom: 50px">
                <h3>Elegir medio de pago</h3>
                <md-radio-group ng-model="card">
                    <md-list class="pb-0">
                        <md-list-item class="noright">
                            <img alt="visa" src="assets/images/visa.svg" class="md-avatar"/>
                            <p>BBVA ….5464</p>
                            <md-radio-button class="md-secondary" value="visa" ng-model="card.selectedVisa"></md-radio-button>
                        </md-list-item>
                    </md-list>
                    <md-list class="pb-0">
                        <md-list-item class="noright">
                            <img alt="mastercard" src="assets/images/mastercard.svg" class="md-avatar"/>
                            <p>Galicia ….5464</p>
                            <md-radio-button class="md-secondary" value="master" ng-model="card.selectedMaster"></md-radio-button>
                        </md-list-item>
                    </md-list>
                </md-radio-group>
                
                <div class="mt-3">
                    <a href="">Agregar nueva tarjeta</a>
                </div>
            </div>
        </section>
        <md-button class="md-primary btn-custom-primary btn-sticky btn-block pt-2 pb-2 m-0" ng-disabled="!card"
                   ng-click="stepResumeNext()">
            Pagar
        </md-button>
    </div>
</main>