<header class="header-form header-fix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <button class="btn btn-icon" ng-click="goback()">
                    <img src="assets/images/angle-left.svg" style="width: 100%;" alt="atrás">
                </button>
            </div>
            <div class="col-8"><h1>Elegir asientos</h1></div>
            <div class="col-2">
                <button class="btn btn-icon">
                    <img src="assets/images/close.svg" style="width: 100%;" alt="cerrar">
                </button>
            </div>
        </div>
    </div>
</header>

<main class="mt-5 pt-2" ng-controller="seatsController" onload="onLoadSeatsFunc()">
    <div class="container-fluid">
        <form class="date-time">
            <div class="seatContainer">
                <div class="seatStructure">
                    <img src="assets/images/screen.svg" style="width: 100%;" alt="">
                    <p class="screen">PANTALLA</p>
                    <ol>
                        <ol aria-label="fila A">
                            <li>
                            <input type="checkbox" class="seats" value="1A" aria-label="1A izquierda" disabled></li>
                            <li><input type="checkbox" class="seats" value="2A" aria-label="2A izquierda" disabled></li>
                            <input type="checkbox" class="seats" value="3A" aria-label="3A centro" disabled>
                            <input type="checkbox" class="seats" value="4A" aria-label="4A centro" disabled>
                            <input type="checkbox" class="seats" value="5A" aria-label="5A centro" disabled>
                            <input type="checkbox" class="seats" value="6A" aria-label="6A centro" disabled>
                            <input type="checkbox" class="seats" value="7A" aria-label="7A derecha" disabled>
                            <input type="checkbox" class="seats" value="8A" aria-label="8A derecha" disabled>
                            </li>
                        </ol>
                        <li aria-label="fila B">
                            <input type="checkbox" class="seats" value="1B" aria-label="1B izquierda" disabled>
                            <input type="checkbox" class="seats" value="2B" aria-label="2B izquierda" disabled>
                            <input type="checkbox" class="seats" value="3B" aria-label="3B centro" disabled>
                            <input type="checkbox" class="seats" value="4B" aria-label="4B centro" disabled>
                            <input type="checkbox" class="seats" value="5B" aria-label="5B centro">
                            <input type="checkbox" class="seats" value="6B" aria-label="6B centro">
                            <input type="checkbox" class="seats" value="7B" aria-label="7B derecha" disabled>
                            <input type="checkbox" class="seats" value="8B" aria-label="8B derecha" disabled>
                        </li>
                        <li aria-label="fila C">
                            <input type="checkbox" class="seats" value="1C" aria-label="1C izquierda" disabled>
                            <input type="checkbox" class="seats" value="2C" aria-label="2C izquierda" disabled>
                            <input type="checkbox" class="seats" value="3C" aria-label="3C centro" disabled>
                            <input type="checkbox" class="seats" value="4C" aria-label="4C centro" disabled>
                            <input type="checkbox" class="seats" value="5C" aria-label="5C centro" disabled>
                            <input type="checkbox" class="seats" value="6C" aria-label="6C centro" disabled>
                            <input type="checkbox" class="seats" value="7C" aria-label="7C derecha" disabled>
                            <input type="checkbox" class="seats" value="8C" aria-label="8C derecha" disabled>
                        </li>
                        <li aria-label="fila D">
                            <input type="checkbox" class="seats" value="1D" aria-label="1D izquierda" disabled>
                            <input type="checkbox" class="seats" value="2D" aria-label="2D izquierda" disabled>
                            <input type="checkbox" class="seats" value="3D" aria-label="3D centro">
                            <input type="checkbox" class="seats" value="4D" aria-label="4D centro">
                            <input type="checkbox" class="seats" value="5D" aria-label="5D centro">
                            <input type="checkbox" class="seats" value="6D" aria-label="6D centro">
                            <input type="checkbox" class="seats" value="7D" aria-label="7D derecha">
                            <input type="checkbox" class="seats" value="8D" aria-label="8D derecha">
                        </li>
                        <li aria-label="fila E">
                            <input type="checkbox" class="seats" value="1E" aria-label="1E izquierda" disabled>
                            <input type="checkbox" class="seats" value="2E" aria-label="2E izquierda" disabled>
                            <input type="checkbox" class="seats" value="3E" aria-label="3E centro" disabled>
                            <input type="checkbox" class="seats" value="4E" aria-label="4E centro" disabled>
                            <input type="checkbox" class="seats" value="5E" aria-label="5E centro" disabled>
                            <input type="checkbox" class="seats" value="6E" aria-label="6E centro" disabled>
                            <input type="checkbox" class="seats" value="7E" aria-label="7E derecha">
                            <input type="checkbox" class="seats" value="8E" aria-label="8E derecha">
                        </li>
                        <li aria-label="fila F">
                            <input type="checkbox" class="seats" value="1F" aria-label="1F izquierda">
                            <input type="checkbox" class="seats" value="2F" aria-label="2F izquierda">
                            <input type="checkbox" class="seats" value="3F" aria-label="3F centro">
                            <input type="checkbox" class="seats" value="4F" aria-label="4F centro">
                            <input type="checkbox" class="seats" value="5F" aria-label="5F centro" disabled>
                            <input type="checkbox" class="seats" value="6F" aria-label="6F centro" disabled>
                            <input type="checkbox" class="seats" value="7F" aria-label="7F derecha" disabled>
                            <input type="checkbox" class="seats" value="8F" aria-label="8F derecha">
                        </li>
                        <li aria-label="fila G">
                            <input type="checkbox" class="seats" value="2G" aria-label="1G izquierda">
                            <input type="checkbox" class="seats" value="3G" aria-label="2G centro">
                            <input type="checkbox" class="seats" value="4G" aria-label="3G centro">
                            <input type="checkbox" class="seats" value="5G" aria-label="4G centro">
                            <input type="checkbox" class="seats" value="6G" aria-label="5G centro">
                            <input type="checkbox" class="seats" value="7G" aria-label="6G derecha" disabled>
                        </li>
                        <li aria-label="fila H">
                            <input type="checkbox" class="seats" value="3H" aria-label="1H centro" disabled>
                            <input type="checkbox" class="seats" value="4H" aria-label="2H centro" disabled>
                            <input type="checkbox" class="seats" value="5H" aria-label="3H centro" disabled>
                            <input type="checkbox" class="seats" value="6H" aria-label="4H centro" disabled>
                        </li>
                    </ol>
                </div>
            </div>

            <md-button class="md-primary btn-custom-primary btn-sticky btn-block pt-2 pb-2 m-0" ng-click="step1Next()" ng-disabled="!moment.day && !moment.afternoon && !moment.night">
                Continuar
            </md-button>
        </form>
    </div>
</main>