<header class="header-form header-fix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <button class="btn btn-icon" ng-click="goback()">
                    <img src="assets/images/angle-left.svg" style="width: 100%;" alt="atrás">
                </button>
            </div>
            <div class="col-8"><h1>Elegir asientos</h1></div>
            <div class="col-2">
                <button class="btn btn-icon" ng-click="stepTicketNext()">
                    <img src="assets/images/close.svg" style="width: 100%;" alt="cerrar">
                </button>
            </div>
        </div>
    </div>
</header>

<main class="mt-5 pt-2" ng-controller="seatsController" onload="onLoadSeatsFunc()" style="margin-bottom: 120px;">
    <div class="container-fluid">
        <form class="date-time">
            <ul class="seat-status mt-3" aria-hidden="true">
                <li><span class="available-seat"></span> Asiento disponible</li>
                <li><span class="unavailable-seat"></span> Asiento ocupado</li>
            </ul>
            <p class="sr-only">La sala cuenta con 8 filas de 8 asientos cada una. Las últimas dos filas tienen 6 y 4 asientos respectivamente.</p>
            <div class="seatContainer">
                <div class="seatStructure">
                    <img src="assets/images/screen.svg" style="width: 100%;" alt="">
                    <p class="screen">PANTALLA</p>
                    <ol class="mt-4">
                        <ol class="seat-line" aria-label="fila A. Todos los asientos ocupados">
                            <li><input type="checkbox" class="seats" value="1A" aria-label="1A izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="2A" aria-label="2A izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="3A" aria-label="3A centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="4A" aria-label="4A centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="5A" aria-label="5A centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="6A" aria-label="6A centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="7A" aria-label="7A derecha asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="8A" aria-label="8A derecha asiento ocupado" disabled></li>
                        </ol>
                        <ol class="seat-line" aria-label="fila B">
                            <li><input type="checkbox" class="seats" value="1B" aria-label="1B izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="2B" aria-label="2B izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="3B" aria-label="3B centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="4B" aria-label="4B centro asiento ocupado" disabled></li>
                            <li><input ng-model="seats.value5b" type="checkbox" class="seats available" value="5B" aria-label="5B centro asiento disponible"></li>
                            <li><input ng-model="seats.value6b" type="checkbox" class="seats available" value="6B" aria-label="6B centro asiento disponible"></li>
                            <li><input type="checkbox" class="seats" value="7B" aria-label="7B derecha asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="8B" aria-label="8B derecha asiento ocupado" disabled></li>
                        </ol>
                        <ol class="seat-line" aria-label="fila C. Todos los asientos ocupados">
                            <li><input type="checkbox" class="seats" value="1C" aria-label="1C izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="2C" aria-label="2C izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="3C" aria-label="3C izquierda asiento ocupado" disabled></li>
                            <li><input ng-model="seats.value4c" type="checkbox" class="seats available" value="4C" aria-label="4C centro asiento disponible"></li>
                            <li><input ng-model="seats.value5c" type="checkbox" class="seats available" value="5C" aria-label="5C centro asiento disponible"></li>
                            <li><input ng-model="seats.value6c" type="checkbox" class="seats available" value="6C" aria-label="6C centro asiento disponible"></li>
                            <li><input ng-model="seats.value7c" type="checkbox" class="seats available" value="7C" aria-label="7C derecha asiento disponible"></li>
                            <li><input ng-model="seats.value8c" type="checkbox" class="seats available" value="8C" aria-label="8C derecha asiento disponible"></li>
                        </ol>
                        <ol class="seat-line" aria-label="fila D">
                            <li><input type="checkbox" class="seats" value="1D" aria-label="1D izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="2D" aria-label="2D izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="3C" aria-label="3D centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="4C" aria-label="4D centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="5C" aria-label="5D centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="6C" aria-label="6D centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="7C" aria-label="7D derecha asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="8C" aria-label="8D derecha asiento ocupado" disabled></li>
                        </ol>
                        <ol class="seat-line" aria-label="fila E">
                            <li><input type="checkbox" class="seats" value="1E" aria-label="1E izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="2E" aria-label="2E izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="3E" aria-label="3E centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="4E" aria-label="4E centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="5E" aria-label="5E centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="6E" aria-label="6E centro asiento ocupado" disabled></li>
                            <li><input ng-model="seats.value7e" type="checkbox" class="seats available" value="7E" aria-label="7E derecha asiento disponible"></li>
                            <li><input ng-model="seats.value8e" type="checkbox" class="seats available" value="8E" aria-label="8E derecha asiento disponible"></li>
                        </ol>
                        <ol class="seat-line" aria-label="fila F">
                            <li><input ng-model="seats.value1f" type="checkbox" class="seats available" value="1F" aria-label="1F izquierda asiento disponible"></li>
                            <li><input ng-model="seats.value2f" type="checkbox" class="seats available" value="2F" aria-label="2F izquierda asiento disponible"></li>
                            <li><input ng-model="seats.value3f" type="checkbox" class="seats available" value="3F" aria-label="3F centro asiento disponible"></li>
                            <li><input ng-model="seats.value4f" type="checkbox" class="seats available" value="4F" aria-label="4F centro asiento disponible"></li>
                            <li><input type="checkbox" class="seats" value="5F" aria-label="5F centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="6F" aria-label="6F centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="7F" aria-label="7F derecha asiento ocupado" disabled></li>
                            <li><input ng-model="seats.value8f" type="checkbox" class="seats available" value="8F" aria-label="8F derecha asiento disponible"></li>
                        </ol>
                        <ol class="seat-line" aria-label="fila G">
                            <li><input ng-model="seats.value1g" type="checkbox" class="seats available" value="2G" aria-label="1G izquierda asiento disponible"></li>
                            <li><input ng-model="seats.value2g" type="checkbox" class="seats available" value="3G" aria-label="2G centro asiento disponible"></li>
                            <li><input ng-model="seats.value3g" type="checkbox" class="seats available" value="4G" aria-label="3G centro asiento disponible"></li>
                            <li><input ng-model="seats.value4g" type="checkbox" class="seats available" value="5G" aria-label="4G centro asiento disponible"></li>
                            <li><input ng-model="seats.value5g" type="checkbox" class="seats available" value="6G" aria-label="5G centro asiento disponible"></li>
                            <li><input type="checkbox" class="seats" value="7G" aria-label="6G derecha asiento ocupado" disabled></li>
                        </ol>
                        <ol class="seat-line" aria-label="fila H. Todos los asientos ocupados">
                            <li><input type="checkbox" class="seats" value="3H" aria-label="1H centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="4H" aria-label="2H centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="5H" aria-label="3H centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="6H" aria-label="4H centro asiento ocupado" disabled></li>
                        </ol>
                    </ol>
                </div>
            </div>

            <div class="btn-sticky">
                <!-- COLLAPSED DETAILS -->
                <div class="details" ng-if="selected > 0">
                    <md-button class="text-notransform detail-header btn-block" type="button" data-target="#details" data-toggle="collapse">
                        <div class="">
                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                <div class="flex-start">
                                    <div class="col-2">
                                        <div class="circle mr-3">{{selected}}</div>
                                    </div>
                                    <div class="col-8">
                                        <p class="mb-0 selection">
                                            <ng-pluralize count="selected"
                                                          when="{'1': 'Asiento seleccionado',
                                                          'other': 'Asientos seleccionados'}">
                                            </ng-pluralize>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <img class="carret-down" src="assets/images/carret-down.svg" style="width: 15px;" alt="cerrar">
                                    <img class="carret-up" src="assets/images/carret-up.svg" style="width: 15px;" alt="ver más">
                                </div>
                            </div>
                        </div>
                    </md-button>
                    <div class="collapse" id="details">
                        <div class="detail-content">
                            <div class="col">
                                <p class="font-700">Asientos:
                                    <span ng-if="seats.value4c">4C,
                                </span>
                                    <span ng-if="seats.value5c">5C,
                                </span>
                                    <span ng-if="seats.value6c">6C,
                                </span>
                                    <span ng-if="seats.value7c">7C
                                </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-sticky">
                    <md-button class="md-primary btn-custom-primary btn-block pt-2 pb-2 m-0 btn-seats" type="submit" ng-click="stepSeatsNext()" ng-disabled="selected != 4">
                        Continuar
                    </md-button>
                </div>
            </div>
        </form>
    </div>
</main>