<header class="header-form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <button class="btn btn-icon" ng-click="goback()">
                    <img src="assets/images/angle-left.svg" style="width: 100%;" alt="atrás">
                </button>
            </div>
            <div class="col-8"><h1>Elegir asientos</h1></div>
            <div class="col-2">
                <button class="btn btn-icon">
                    <img src="assets/images/close.svg" style="width: 100%;" alt="cerrar">
                </button>
            </div>
        </div>
    </div>
</header>

<main ng-controller="seatsController" onload="onLoadSeatsFunc()" style="margin-bottom: 120px;">
    <div class="container-fluid">
        <form class="date-time">
            <ul class="seat-status mt-3" aria-hidden="true">
                <li><span class="available-seat"></span> Asiento disponible</li>
                <li><span class="unavailable-seat"></span> Asiento ocupado</li>
            </ul>
            <p class="sr-only">La sala cuenta con 8 filas de 8 asientos cada una. Las últimas dos filas tienen 6 y 4 asientos respectivamente.</p>
            <div class="seatContainer">
                <div class="seatStructure">
                    <img src="assets/images/screen.svg" style="width: 100%;" alt="">
                    <p class="screen">PANTALLA</p>
                    <ol class="mt-4">
                        <ol class="seat-line" aria-label="fila A. Todos los asientos ocupados">
                            <li><input type="checkbox" class="seats" value="1A" aria-label="1A izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="2A" aria-label="2A izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="3A" aria-label="3A centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="4A" aria-label="4A centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="5A" aria-label="5A centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="6A" aria-label="6A centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="7A" aria-label="7A derecha asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="8A" aria-label="8A derecha asiento ocupado" disabled></li>
                        </ol>
                        <ol class="seat-line" aria-label="fila B">
                            <li><input type="checkbox" class="seats" value="1B" aria-label="1B izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="2B" aria-label="2B izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="3B" aria-label="3B centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="4B" aria-label="4B centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="5B" aria-label="5B centro"></li>
                            <li><input type="checkbox" class="seats" value="6B" aria-label="6B centro"></li>
                            <li><input type="checkbox" class="seats" value="7B" aria-label="7B derecha asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="8B" aria-label="8B derecha asiento ocupado" disabled></li>
                        </ol>
                        <ol class="seat-line" aria-label="fila C. Todos los asientos ocupados">
                            <li><input type="checkbox" class="seats" value="1C" aria-label="1C izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="2C" aria-label="2C izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="3C" aria-label="3C centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="4C" aria-label="4C centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="5C" aria-label="5C centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="6C" aria-label="6C centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="7C" aria-label="7C derecha asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="8C" aria-label="8C derecha asiento ocupado" disabled></li>
                        </ol>
                        <ol class="seat-line" aria-label="fila D">
                            <li><input type="checkbox" class="seats" value="1D" aria-label="1D izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="2D" aria-label="2D izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="3D" aria-label="3D centro"></li>
                            <li><input type="checkbox" class="seats" value="4D" aria-label="4D centro"></li>
                            <li><input type="checkbox" class="seats" value="5D" aria-label="5D centro"></li>
                            <li><input type="checkbox" class="seats" value="6D" aria-label="6D centro"></li>
                            <li><input type="checkbox" class="seats" value="7D" aria-label="7D derecha"></li>
                            <li><input type="checkbox" class="seats" value="8D" aria-label="8D derecha"></li>
                        </ol>
                        <ol class="seat-line" aria-label="fila E">
                            <li><input type="checkbox" class="seats" value="1E" aria-label="1E izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="2E" aria-label="2E izquierda asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="3E" aria-label="3E centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="4E" aria-label="4E centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="5E" aria-label="5E centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="6E" aria-label="6E centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="7E" aria-label="7E derecha"></li>
                            <li><input type="checkbox" class="seats" value="8E" aria-label="8E derecha"></li>
                        </ol>
                        <ol class="seat-line" aria-label="fila F">
                            <li><input type="checkbox" class="seats" value="1F" aria-label="1F izquierda"></li>
                            <li><input type="checkbox" class="seats" value="2F" aria-label="2F izquierda"></li>
                            <li><input type="checkbox" class="seats" value="3F" aria-label="3F centro"></li>
                            <li><input type="checkbox" class="seats" value="4F" aria-label="4F centro"></li>
                            <li><input type="checkbox" class="seats" value="5F" aria-label="5F centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="6F" aria-label="6F centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="7F" aria-label="7F derecha asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="8F" aria-label="8F derecha"></li>
                        </ol>
                        <ol class="seat-line" aria-label="fila G">
                            <li><input type="checkbox" class="seats" value="2G" aria-label="1G izquierda"></li>
                            <li><input type="checkbox" class="seats" value="3G" aria-label="2G centro"></li>
                            <li><input type="checkbox" class="seats" value="4G" aria-label="3G centro"></li>
                            <li><input type="checkbox" class="seats" value="5G" aria-label="4G centro"></li>
                            <li><input type="checkbox" class="seats" value="6G" aria-label="5G centro"></li>
                            <li><input type="checkbox" class="seats" value="7G" aria-label="6G derecha asiento ocupado" disabled></li>
                        </ol>
                        <ol class="seat-line" aria-label="fila H. Todos los asientos ocupados">
                            <li><input type="checkbox" class="seats" value="3H" aria-label="1H centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="4H" aria-label="2H centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="5H" aria-label="3H centro asiento ocupado" disabled></li>
                            <li><input type="checkbox" class="seats" value="6H" aria-label="4H centro asiento ocupado" disabled></li>
                        </ol>
                    </ol>
                </div>
            </div>

            <script type="text/ng-template" id="bottom-sheet-grid-template.html">
                <md-bottom-sheet class="md-grid bottom-sheet-int" layout="column">
                        <button class="btn-expand" ng-click="hideBottomSheet()">
                                <span class="display-flex"><span class="display-flex bubble"><b>1</b></span>Asientos seleccionados</span><img class="icon-img" src="assets/images/arrow_down.svg" width="20px" alt="">
                        </button>
                        <p> Acá va toda la info</p>
                        <md-button class="md-primary btn-custom-primary btn-block pt-2 pb-2 m-0" ng-click="step1Next()" ng-disabled="!moment.day && !moment.afternoon && !moment.night">
                                Continuar
                        </md-button>
                </md-bottom-sheet>
            </script>

            <div class="btn-sticky">
                <button class="btn-expand btn-shadow" ng-click="showListBottomSheet()">
                    <span class="display-flex"><span class="display-flex bubble"><b>1</b></span>Asientos seleccionados</span><img class="icon-img" src="assets/images/arrow_up.svg" width="20px" alt="">
                </button>
                <md-button class="md-primary btn-custom-primary btn-block pt-2 pb-2 m-0" ng-click="step1Next()" ng-disabled="!moment.day && !moment.afternoon && !moment.night">
                    Continuar
                </md-button>
            </div>
        </form>
    </div>
</main>