<header class="header-form">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <button class="btn btn-icon" ng-click="goback()">
                        <img src="assets/images/angle-left.svg" style="width: 100%;" alt="atrás">
                    </button>
                </div>
                <div class="col-8"><h1>Comida & Snacks</h1></div>
                <div class="col-2">
                    <button class="btn btn-icon">
                        <img src="assets/images/close.svg" style="width: 100%;" alt="cerrar">
                    </button>
                </div>
            </div>
        </div>
    </header>
    
    <main style="margin-bottom: 120px;">
        <div class="container-fluid">
            <form>
                <section>
                    <h2 class="text-center">¿Te gustaría agregar comida?</h2>
                    <div class="mt-4">
                        <div class="item-colapse">
                            <div class="row align-items-center">
                                <div class="col-4 pr-0">
                                    <p class="m-0">Pochoclo grande</p>
                                </div>
                                <div class="col-3 pr-0">
                                    <p class="m-0 text-right">$250.00</p>
                                </div>
                                <div class="col-5">
                                    <div class="input-group tickets">
                                        <input type="button" value="" class="button-minus tickets"
                                               data-field="quantity">
                                        <input type="number" step="1" max="" value="1" name="quantity"
                                               class="quantity-field tickets">
                                        <input type="button" value="" class="button-plus tickets" data-field="quantity">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-colapse">
                            <div class="row align-items-center">
                                <div class="col-4 pr-0">
                                    <p class="m-0">Nachos con queso</p>
                                </div>
                                <div class="col-3 pr-0">
                                    <p class="m-0 text-right">$250.00</p>
                                </div>
                                <div class="col-5">
                                    <div class="input-group tickets">
                                        <input type="button" value="" class="button-minus tickets disabled"
                                               data-field="quantity">
                                        <input type="number" step="1" max="" value="1" name="quantity"
                                               class="quantity-field tickets">
                                        <input type="button" value="" class="button-plus tickets" data-field="quantity">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-colapse">
                            <div class="row align-items-center">
                                <div class="col-4 pr-0">
                                    <p class="m-0">Gaseosa 500ml.</p>
                                </div>
                                <div class="col-3 pr-0">
                                    <p class="m-0 text-right">$250.00</p>
                                </div>
                                <div class="col-5">
                                    <div class="input-group tickets">
                                        <input type="button" value="" class="button-minus tickets"
                                               data-field="quantity">
                                        <input type="number" step="1" max="" value="1" name="quantity"
                                               class="quantity-field tickets">
                                        <input type="button" value="" class="button-plus tickets" data-field="quantity">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <!-- COLLAPSED DETAILS -->
                <div class="details">
                    <button class="detail-header btn-block" type="button" data-target="#details" data-toggle="collapse">
                        <div class="">
                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                <div class="flex-start">
                                    <div class="circle mr-3">1</div>
                                    <h4 class="mb-0">Asiento seleccionado</h4><!--ng-if="seats.lenght === 1"-->
                                    <h4 class="mb-0" ng-if="seats.lenght > 1 || seats.lenght === 0">Asientos seleccionados</h4>
                                </div>
                                <div class="">
                                    <img class="carret-down" src="assets/images/carret-down.svg" style="width: 15px;" alt="ver más">
                                    <img class="carret-up" src="assets/images/carret-up.svg" style="width: 15px;" alt="cerrar">
                                </div>
                            </div>
                        </div>
                    </button>
                    <div class="collapse" id="details">
                        <div class="detail-content">
                            <div class="row">
                                <div class="col">
                                    <p><span class="font-700">4</span> Gaseosas 500 ml.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="btn-sticky">
                    <div class="text-center" style="background-color: white;">
                        <md-button class="md-primary font-700 violet">
                            No quiero agregar comida 
                        </md-button>
                    </div>

                    <md-button class="md-primary btn-custom-primary btn-block pt-2 pb-2 m-0" ng-click="stepSnacksNext()" ng-disabled="!moment.day && !moment.afternoon && !moment.night">
                        Continuar
                    </md-button>
                </div>
            </form>
        </div>
    </main>