<header class="header-form header-fix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <button class="btn btn-icon" ng-click="goback()">
                    <img src="assets/images/angle-left.svg" style="width: 100%;" alt="atrás">
                </button>
            </div>
            <div class="col-8"><h1>Elegir entradas</h1></div>
            <div class="col-2">
                <button class="btn btn-icon" ng-click="stepTicketNext()">
                    <img src="assets/images/close.svg" style="width: 100%;" alt="cerrar">
                </button>
            </div>
        </div>
    </div>
</header>
<main class="mt-5 pt-2" ng-controller="ticketController">
    <div class="container-fluid">
        <form>
            <section>
                <p class="text-center">Estas son las opciones para esta función</p>
                <div class="pt-3 pb-3">
                    <md-button class="text-notransform btn-block m-0 p-0 promo" type="button" data-target="#promo" data-toggle="collapse">
                        <div class="promo-div">
                            <div class="col-10 pl-0">
                                <h2 class="mb-0 text-left">Promociones 2x1</h2>
                            </div>
                            <div class="col-2 pr-0">
                                <img class="carret-down text-right" src="assets/images/carret-down.svg" style="width: 15px;" alt="ver más">
                                <img class="carret-up text-right" src="assets/images/carret-up.svg" style="width: 15px;" alt="cerrar">
                            </div>
                        </div>
                    </md-button>
                    <div class="collapse show" id="promo">
                        <p class="label-grey">Una promoción equivale a 2 entradas.</p>
                        <div class="item-colapse">
                            <div class="row align-items-center">
                                <div class="col-4 pr-0">
                                    <label class="m-0" for="santander">Santander</label>
                                </div>
                                <div class="col-3 pr-0">
                                    <p class="m-0 text-right">
                                        <span aria-hidden="true">$320.00</span>
                                        <span class="sr-only">320.00 pesos</span>
                                    </p>
                                </div>
                                <div class="col-5">
                                    <div class="input-group tickets">
                                        <input type="button" value="" aria-label="quitar" class="button-minus tickets"
                                               data-field="quantity" data-ng-click='count = (count <= 0) ? 0 : count-1' ng-disabled="count === 0">
                                        <input type="number" step="1" max="" value="1" name="quantity" ng-model="count" id="santander"
                                               class="quantity-field tickets">
                                        <input type="button" value="" aria-label="agregar" class="button-plus tickets" data-field="quantity" data-ng-click='plusCount()'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-colapse">
                            <div class="row align-items-center">
                                <div class="col-4 pr-0">
                                    <label class="m-0" for="bbva">BBVA</label>
                                </div>
                                <div class="col-3 pr-0">
                                    <p class="m-0 text-right">
                                        <span aria-hidden="true">$320.00</span>
                                        <span class="sr-only">320.00 pesos</span>
                                    </p>
                                </div>
                                <div class="col-5">
                                    <div class="input-group tickets">
                                        <input type="button" value="" aria-label="quitar" class="button-minus tickets"
                                               data-field="quantity" data-ng-click='count1 = (count1 <= 0) ? 0 : count1-1' ng-disabled="count1 === 0">
                                        <input type="number" step="1" max="" value="1" name="quantity" ng-model="count1" id="bbva"
                                               class="quantity-field tickets">
                                        <input type="button" value="" aria-label="agregar" class="button-plus tickets" data-field="quantity" data-ng-click='plusCount1()'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-colapse">
                            <div class="row align-items-center">
                                <div class="col-4 pr-0">
                                    <label class="m-0" for="clarin">Clarin 365</label>
                                </div>
                                <div class="col-3 pr-0">
                                    <span aria-hidden="true">$320.00</span>
                                    <span class="sr-only">320.00 pesos</span>
                                </div>
                                <div class="col-5">
                                    <div class="input-group tickets">
                                        <input type="button" value="" aria-label="quitar" class="button-minus tickets"
                                               data-field="quantity" data-ng-click='count2 = (count2 <= 0) ? 0 : count2-1' ng-disabled="count2 === 0">
                                        <input type="number" step="1" max="" value="1" name="quantity" ng-model="count2" id="clarin"
                                               class="quantity-field tickets">
                                        <input type="button" value="" aria-label="agregar" class="button-plus tickets" data-field="quantity" data-ng-click='plusCount2()'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="pt-3 pb-3">
                    <div class="">
                        <md-button class="text-notransform btn-block m-0 p-0 general" type="button" data-target="#general" data-toggle="collapse">
                            <div class="promo-div">
                                <div class="col-10 pl-0">
                                    <h2 class="mb-0 text-left">Generales</h2>
                                </div>
                                <div class="col-2 pr-0">
                                    <img class="carret-down text-right" src="assets/images/carret-down.svg" style="width: 15px;" alt="ver más">
                                    <img class="carret-up text-right" src="assets/images/carret-up.svg" style="width: 15px;" alt="cerrar">
                                </div>
                            </div>
                        </md-button>
                    </div>
                    <div class="collapse" id="general">
                        <div class="item-colapse">
                            <div class="row align-items-center">
                                <div class="col-4 pr-0">
                                    <label class="m-0" for="adultos">Adultos</label>
                                </div>
                                <div class="col-3 pr-0">
                                    <p class="m-0 text-right">
                                        <span aria-hidden="true">$320.00</span>
                                        <span class="sr-only">320.00 pesos</span>
                                    </p>
                                </div>
                                <div class="col-5">
                                    <div class="input-group tickets">
                                        <input type="button" value="" aria-label="quitar" class="button-minus tickets"
                                               data-field="quantity" data-ng-click='count3 = (count3 <= 0) ? 0 : count3-1' ng-disabled="count3 === 0">
                                        <input type="number" step="1" max="" value="1" name="quantity" ng-model="count3" id="adultos"
                                               class="quantity-field tickets">
                                        <input type="button" value="" aria-label="agregar" class="button-plus tickets" data-field="quantity" data-ng-click='plusCount3()'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-colapse">
                            <div class="row align-items-center">
                                <div class="col-4 pr-0">
                                    <label class="m-0" for="niños">Niños</label>
                                </div>
                                <div class="col-3 pr-0">
                                    <p class="m-0 text-right">
                                        <span aria-hidden="true">$320.00</span>
                                        <span class="sr-only">320.00 pesos</span>
                                    </p>
                                </div>
                                <div class="col-5">
                                    <div class="input-group tickets">
                                        <input type="button" value="" aria-label="quitar" class="button-minus tickets"
                                               data-field="quantity" data-ng-click='count4 = (count4 <= 0) ? 0 : count4-1' ng-disabled="count4 === 0">
                                        <input type="number" step="1" max="" value="1" name="quantity" ng-model="count4" id="niños"
                                               class="quantity-field tickets">
                                        <input type="button" value="" aria-label="agregar" class="button-plus tickets" data-field="quantity" data-ng-click='plusCount4()'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-colapse">
                            <div class="row align-items-center">
                                <div class="col-4 pr-0">
                                    <label class="m-0" for="jubilados">Jubilados</label>
                                </div>
                                <div class="col-3 pr-0">
                                    <p class="m-0 text-right">
                                        <span aria-hidden="true">$320.00</span>
                                        <span class="sr-only">320.00 pesos</span>
                                    </p>
                                </div>
                                <div class="col-5">
                                    <div class="input-group tickets">
                                        <input type="button" value="" aria-label="quitar" class="button-minus tickets"
                                               data-field="quantity" data-ng-click='count5 = (count5 <= 0) ? 0 : count5-1' ng-disabled="count5 === 0">
                                        <input type="number" step="1" max="" value="1" name="quantity" ng-model="count5" id="jubilados"
                                               class="quantity-field tickets">
                                        <input type="button" value="" aria-label="agregar" class="button-plus tickets" data-field="quantity" data-ng-click='plusCount5()'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="pt-3 pb-3" style="margin-bottom: 130px">

                    <md-button class="text-notransform btn-block m-0 p-0 general" type="button" data-target="#codigo" data-toggle="collapse">
                        <div class="promo-div">
                            <div class="col-10 pl-0">
                                <h2 class="mb-0 text-left">Código de descuento</h2>
                            </div>
                            <div class="col-2 pr-0">
                                <img class="carret-down text-right" src="assets/images/carret-down.svg" style="width: 15px;" alt="ver más">
                                <img class="carret-up text-right" src="assets/images/carret-up.svg" style="width: 15px;" alt="cerrar">
                            </div>
                        </div>
                    </md-button>
                    <div class="collapse" id="codigo">
                        <div class="pt-2">
                            <md-input-container class="md-block md-input-custom" flex-gt-sm>
                                <label for="search">Código</label>
                                <input id="search" type="number">
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </section>

            <div class="btn-sticky">
                <!-- COLLAPSED DETAILS -->
                <div class="details" ng-if="(count + count1 + count2) > 0">
                    <md-button class="text-notransform detail-header btn-block p-0 m-0" type="button" data-target="#details" data-toggle="collapse">
                        <div class="">
                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                <div class="col-2">
                                    <div class="circle">{{count + count1 + count2}}</div>
                                </div>
                                <div class="col-4 pl-0 text-left">
                                    <p class="mb-0 selection">
                                        <ng-pluralize count="count + count1 + count2"
                                                      when="{'1': 'Entrada',
                                                  'other': 'Entradas'}">
                                        </ng-pluralize>
                                    </p>
                                </div>
                                <div class="col-4 pr-0 text-right">
                                    <p class="selection mb-0">
                                        <span aria-hidden="true" class="violet">${{(count + count1 + count2)*320}}.00</span>
                                        <span class="sr-only">{{(count + count1 + count2)*320}}.00 pesos</span>
                                    </p>
                                </div>
                                <div class="col-2">
                                    <img class="carret-down" src="assets/images/carret-down.svg" style="width: 15px;" alt="cerrar">
                                    <img class="carret-up" src="assets/images/carret-up.svg" style="width: 15px;" alt="ver más">
                                </div>
                            </div>
                        </div>
                    </md-button>
                    <div class="collapse" id="details">
                        <div class="detail-content">
                            <div class="col">
                                <p ng-if="count >= 1" class="price-count" aria-hidden="true">
                                    <span>
                                        <span class="font-700 pr-2">{{count}}</span>
                                        <ng-pluralize count="count"
                                                      when="{'1': 'Promoción Santander 2x1',
                                                      'other': 'Promociones Santander 2x1'}">
                                        </ng-pluralize>
                                    </span>
                                    <span>${{count*320}}.00</span>
                                </p>
                                <span ng-if="count >= 1" class="sr-only">
                                    {{count}}
                                    <ng-pluralize count="count"
                                                  when="{'1': 'Promoción Santander 2x1',
                                                      'other': 'Promociones Santander 2x1'}">
                                        </ng-pluralize>
                                    <span>{{count*320}}.00 pesos</span>
                                </span>
                                <p ng-if="count1 >= 1" class="price-count" aria-hidden="true">
                                    <span>
                                        <span class="font-700 pr-2">{{count1}}</span>
                                        <ng-pluralize count="count1"
                                                      when="{'1': 'Promoción BBVA 2x1',
                                                      'other': 'Promociones BBVA 2x1'}">
                                        </ng-pluralize>
                                    </span>
                                    <span>${{count1*320}}.00</span>
                                </p>
                                <span ng-if="count1 >= 1" class="sr-only">
                                    {{count1}}
                                    <ng-pluralize count="count1"
                                                  when="{'1': 'Promoción BBVA 2x1',
                                                      'other': 'Promociones BBVA 2x1'}">
                                        </ng-pluralize>
                                    <span>{{count1*320}}.00 pesos</span>
                                </span>
                                <p ng-if="count2 >= 1" class="price-count" aria-hidden="true">
                                    <span>
                                        <span class="font-700 pr-2">{{count2}}</span>
                                        <ng-pluralize count="count2"
                                                      when="{'1': 'Promoción Clarín 365 2x1',
                                                      'other': 'Promociones Clarín 365 2x1'}">
                                        </ng-pluralize>
                                    </span>
                                    <span>${{count2*320}}.00</span>
                                </p>
                                <span ng-if="count2 >= 1" class="sr-only">
                                    {{count2}}
                                    <ng-pluralize count="count2"
                                                  when="{'1': 'Promoción Clarín 365 2x1',
                                                      'other': 'Promociones Clarín 365 2x1'}">
                                        </ng-pluralize>
                                    <span>{{count2*320}}.00 pesos</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <md-button class="md-primary btn-custom-primary btn-block pt-2 pb-2 m-0" type="submit" ng-disabled="!count && !count1 && !count2"
                           ng-click="stepSelectionNext()">
                    Continuar
                </md-button>
            </div>
        </form>
    </div>
</main>