<header class="text-center">
    <img src="assets/images/logo.svg" alt="Movie Group" class="mt-3" style="width: 120px;" role="img">
</header>
<nav class="navbar app-navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link home active" href="#!inicio">
                <span class="sr-only">Inicio</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link group" href="#!entradas">
                <span class="sr-only">Grupos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link billboard" href="#!cartelera">
                <span class="sr-only">Cartelera</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link account" href="#!configuracion" >
                <span class="sr-only">Configuración</span>
            </a>
        </li>
    </ul>
</nav>

<main>
    <div class="container-fluid">
        <!-- VOTACIONES -->
        <section class="vote mt-3">
            <h2>Mis votaciones en curso</h2>
            <div class="row">
                <div class="mt-2 date-container">
                    <div class="feed-card" ng-click="homeResultNext()" role="button">
                        <div class="detail-content">
                            <div class="row">
                                <div class="col-3">
                                    <img src="assets/images/movies/img_joker.jpeg" alt="" width="100%">
                                </div>
                                <div class="col-7 pl-0">
                                    <p class="movie">The Joker</p>
                                    <p>Enviada a: <span class="font-700">Amigos</span></p>
                                    <p>3 contactos</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="label-grey mb-2"><img src="assets/images/time.svg" alt=""
                                                                style="width: 20px;" class="float-left mr-2">
                                    Tiempo restante: 0:05</p>
                                <md-progress-linear md-mode="determinate" value="85"></md-progress-linear>
                            </div>
                        </div>
                    </div>
            
                    <div class="feed-card" ng-click="homeResultNext()" role="button">
                        <div class="detail-content">
                            <div class="row">
                                <div class="col-3">
                                    <img src="assets/images/movies/img_malefica.jpeg" alt="" width="100%">
                                </div>
                                <div class="col-7 pl-0">
                                    <p class="movie">Maléfica</p>
                                    <p>Enviada a: <span class="font-700">Facultad</span></p>
                                    <p>5 contactos</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="label-grey mb-2"><img src="assets/images/time.svg" alt=""
                                                                style="width: 20px;" class="float-left mr-2">
                                    Tiempo restante: 10:05</p>
                                <md-progress-linear md-mode="determinate" value="65"></md-progress-linear>
                            </div>
                        </div>
                    </div>
            
                    <div class="feed-card" ng-click="homeResultNext()" role="button">
                        <div class="detail-content">
                            <div class="row">
                                <div class="col-3">
                                    <img src="assets/images/movies/img_gemini.jpeg" alt="" width="100%">
                                </div>
                                <div class="col-7 pl-0">
                                    <p class="movie">Proyecto Géminis</p>
                                    <p>Enviada a: <span class="font-700">Amigos</span></p>
                                    <p>3 contactos</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="label-grey mb-2"><img src="assets/images/time.svg" alt=""
                                                                style="width: 20px;" class="float-left mr-2">
                                    Votación finalizada</p>
                                <md-progress-linear md-mode="determinate" value="100"></md-progress-linear>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entradas -->
        <section class="tickets pt-0">
            <h2>Mis entradas</h2>
            <div class="row">
                <div class="mt-2 date-container tickets">
                    <div class="feed-card" ng-click="homeTicketNext()" role="button">
                        <div class="tickets-content">
                            <div class="row">
                                <div class="col-3">
                                    <div class="ticket-number">
                                        4 <span class="sr-only">entradas</span>
                                    </div>
                                </div>
                                <div class="col-9 pl-0">
                                    <p class="movie">The Joker</p>
                                    <p>26 Nov - 22:00 hs.</p>
                                    <p>Showcase Belgrano </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feed-card"  ng-click="homeTicketNext()" role="button">
                        <div class="tickets-content" >
                            <div class="row">
                                <div class="col-3">
                                    <div class="ticket-number">
                                        6 <span class="sr-only">entradas</span>
                                    </div>
                                </div>
                                <div class="col-9 pl-0">
                                    <p class="movie">Proyecto géminis</p>
                                    <p>21 Nov - 23:00 hs.</p>
                                    <p>Multiplex Belgrano </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="text-center">
                <md-button type="button" class="md-raised md-primary btn-custom-secondary pl-5 pr-5 pt-1 pb-1" ng-click="newPollNext()">
                    Crear nueva votación
                </md-button>
            </div>
        </section>
    </div>
</main>